/*-------- ОБЩЕЕ ----------*/


body{
    margin: 0;
}
ul{
    list-style-type: none;   
}
button{
    background-color: rgb(83, 161, 83);
    color:white;
    border:none;
    border-radius: 100px;
    padding:20px;
    margin-top:30px;
    font-size: 20px;
}


/*-------- ШАПКА -----------*/
 

header{
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    color:rgb(209, 169, 18)
    
}
nav{
    display: inline-flex;
    align-items: center;

}
header a{
    color:rgb(209, 169, 18);
    text-decoration: none;
}
header ul{
    display: inline-flex;
    list-style-position: inside;
    padding:0px;
}
header li{
    padding-left: 20%;

}

/*---------------- ОБЩЕЕ (КОНТЕНТ) -----------------*/

.container{
    
    margin: 0 auto;
    text-align: center;
}


/*-------------------- 1 БЛОК (ПРОМО) -----------------------*/

.promo{
    padding-bottom: 5%;
    padding-top: 5%;
    position: relative;
    display:flex;
    flex-direction: column;
    text-align: center;
    background: rgba(0, 0, 0, 0.745);
    color:rgb(209, 169, 18);
    color:white;
}
.promo img{
    width: 50%;
    
}
.promo ul{
    padding:0;
    text-align: left;
}   
.promo li{
    margin-top: 5px;
}
.product_info{
    display:inline-flex;
    flex-direction: row;
    justify-content: center;
}
.characteristics{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
video{
    position: absolute;
    z-index: -1;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;  
}
.product_info figure{
    margin-left: 0;
    margin-right: 0;
}

.name_product{
    margin:auto;
}


/*------------ 2 БЛОК (СОСТАВ ПРОДУКТА) ----------------*/

.composition{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    background-image: url("pictures/background2.jpg");
    color:white;
}
.compound img{
    width: 50%;
    border-radius: 100%;
}
.compound h4{
  margin-top:-5px;
}

.composition_container{
    width: 80%;
    margin: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.flexitem2{
    order:1;
}
.flexitem1{
    order:2;
}
.flexitem3{
    order:3;
}
.flexitem4{
    order:4;
}
.flexitem1 img{
    width:50%;
}


/*--------------- 3 БЛОК (ОТЗЫВЫ) -------------------*/



.reviews_container img{
    height: 30%;
    border-radius: 100%;
}
.reviews_container{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    margin:auto;
    flex-wrap: wrap;
    animation-name: fade;
    animation-duration: 1.5s;
}
.review{
    background-color: rgba(255, 255, 255, 0.712);
    width: 30%;
    padding: 30px;
    height: 400px;
}
.reviews{
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-image: linear-gradient(180deg, #a7a7a7, rgb(209, 169, 18));
    color: black;
}



/*--------------- 4 БЛОК (ПРОМО) ----------------*/

.promo_second{
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-image: linear-gradient(180deg,  rgb(209, 169, 18), #a7a7a7);
}
.promo_second ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.promo_container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.doctor img{
    width:100%;
}
.characts li{
    padding: 10px;
    border: 1px solid;
    border-color: rgb(224, 196, 95);
    border-radius: 50px;
    background-color: rgb(209, 169, 18);
    margin: auto 10px;
}


/*----------------- 5 БЛОК (ФОРМА ЗАКАЗА) --------------------*/

.order_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("pictures/background2.jpg");
    color: white;
}
.order_container{
    display: flex;
    flex-direction: row;
    margin: 30px 0 30px 0;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.767);
    padding:30px 50px 30px 0;
}
.newprice{
    position:absolute;
    color:red;
    animation-name: price;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    
}
.oldprice{
    font-size: small;
    text-decoration: line-through;
}

form{
    display: flex;
    flex-direction: column;
}

.form{
    margin:auto;
    text-align: right;
    width: 100%;
}
.product img{
    width:60%;
}

.button{
 text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}


/*------------ ОБРАТНЫЙ ОТСЧЕТ ----------------*/
.timer{
    font-size: 26px;
    background-color: red;
    padding:5px 5px;
    border-radius: 10px;
}
.min, .sec{
    background-color: white;
    color:black;
    border-radius: 5px;
    padding: 4px 9px;
}


/*----------------- ПОДСКАЗКИ -----------------------*/

.tooltip1, .tooltip2 {
    position: relative;
    display: inline-block;
  }
  
  .tooltip1 .tooltiptext1, .tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 100;
    bottom: 125%;
    left: 90%;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip1 .tooltiptext1::after, .tooltip2 .tooltiptext2::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip1 >input:focus + .tooltiptext1,  .tooltip2 >input:focus + .tooltiptext2 {
    visibility: visible;
    opacity: 1;
  }

  





  @media screen and (max-width:768px) {
    header{
        flex-direction:column;
        align-items:center;
        width: 100%;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    nav li{
        padding: 0;
        text-align: center;
    }
    body{
        display: flex;
        flex-direction: column;
    }
    .composition_container{
        width: 100%;
    }
    .product{
        flex-shrink: 2;
    }
    
    .tooltip1 .tooltiptext1, .tooltip2 .tooltiptext2 {
        left: 0%;
      }
    
    .name_product{
        margin: auto 50px;
    }
    
    .promo_second{
        padding: 0 0 50px 0;
    }
    .promo_container{
        padding:50px;
    }
    .promo_second ul{
        padding: 0;
        width: 100%;
    }
    .characts li{
        padding: 10px;
    }
    .review{
        width: 70%;
    }
}








/*-------------- АНИМАЦИИ ------------*/


@keyframes fade{
    from{
        opacity: 0.4;
    }
    to{
        opacity: 1;
    }
}

@keyframes price {
    from{
        font-size: 20px;
    }
    to{
        font-size: 26px;
    }    
}